a.btn {

    &--outline {
        color: $primaryColor;
    }

    &--primary {
        color: #FFF;
    }
}

.btn {
    background-color: transparent;
    border: none;
    color: $textPrimaryColor;
    outline: none;
    cursor: pointer;

    &--primary {
        border-radius: rem(10px);
        color: $textOnPrimaryColor;
        background-color: $primaryColor;
        padding: rem(15px) rem(60px);
        font-weight: 700;
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: darken($primaryColor, 15%);
        }
    }

    &--outline {
        font-weight: 700;
        font-size: 1.1rem;
        border-radius: rem(50px);
        border: rem(2px) solid $primaryColor;
        padding: rem(10px) rem(40px);
        color: $primaryColor;
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: $primaryColorLight;
        }
    }

    &--icon {
        color: $primaryColor;
        background-color: $primaryBackgroundColor;
        width: rem(50px);
        height: rem(50px);
        border-radius: 100%;
        font-size: 1.1rem;
    }

}