$primaryColor: #F53838;
$primaryColorLight: #FFECEC;

$successColor: #2FAB73;

$textPrimaryColor: #0B132A;
$textPrimaryColorLight: #4F5665;
$textPrimaryColorLighter: #AFB5C0;

$textOnPrimaryColor: #FFFFFF;
$textOnSuccess: #FFFFFF;

$primaryBackgroundColor: #FFFFFF;
$primaryBackgroundColorDarker: #FBFBFB;
$primaryBackgroundColorDark: #F8F8F8;


$maxContentWidth: 1440px;